<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "Dummy" %></title>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">

  <%= stylesheet_link_tag "stylesheets/reset", nonce: true %>
  <%= stylesheet_link_tag "stylesheets/screen", nonce: true %>
  <%= stylesheet_link_tag "stylesheets/pdf", nonce: true %>

  <script>
      console.error("The webpage was loaded with pdf layout.");

      window.loaded = false; // make it global

      window.PagedConfig = {
          auto: false,
          after: (flow) => {
          },
      };

      function initPaged() {
          console.log("Paged library is ready");

          // Initialize your Paged handlers here

          class PageJsReadyHandler extends Paged.Handler {
              constructor(chunker, polisher, caller) {
                  super(chunker, polisher, caller);
              }

              afterRendered(pages) {
                  window.loaded = true;
                  console.info("✅ Paged.js has rendered everything!");
              }
          }

          Paged.registerHandlers(PageJsReadyHandler);

          window.PagedPolyfill.preview();
      }
  </script>

  <%= javascript_include_tag "javascripts/paged.polyfill-4.3.js", nonce: true, async: true, onload: "initPaged()" %>

  <!-- No Favicon -->
  <link rel="icon" href="data:,">

  <%= stylesheet_link_tag "stylesheets/bootstrap.min", nonce: true %>
</head>

<body>
<%= yield %>
</body>
</html>
